<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="flat-form">
        <h1>Edit a flat</h1>
        <%= render "flat_form" %>
      </div>
    </div>
  </div>
</div>
